[Unit]
Description=Go Collect
Wants=network-online.target
After=network-online.target

[Service]
User= root
Group= root
Type=simple
ExecStart=/bin/go-collect -env production

[Install]
WantedBy=multi-user.target
